button(type="button").chat__open-button.js-chat__open-button._hidden
    include ../icons/chat.svg

.chat._flex-column.popover.js-chat._hidden
    .popover__header
        .chat__tabs.js-chat__tabs
        button(type="button").popover__cancel.js-chat__cancel
            include ../icons/cancel.svg
