.page.page_game.js-page_game._flex-center._flex-column._hidden
    button(type="button").game__cancel.js-game__cancel
        include ./../icons/cancel.svg
    .game-field._flex-center
        include ./../game/game.svg