.page.page_game.js-page_game._flex-center._flex-column._hidden
    .game__header.js-game__header
        .game__contain_players
            include ./../players-list/players-list.pug
        .game__contain_controlls._flex-center
            button(type="button").button.game__start.js-game__start._hidden Начать игру
            button(type="button").button.dice__button.js-dice__button._hidden Кинуть кубики
            include ./../icons/dice1.svg
            include ./../icons/dice2.svg
            include ./../icons/dice3.svg
            include ./../icons/dice4.svg
            include ./../icons/dice5.svg
            include ./../icons/dice6.svg
        include ./../sale-dark/sale-dark.pug
        button(type="button").game__cancel.js-game__cancel
            include ./../icons/cancel.svg
    include ./../rules/rules.pug
    .game-field._flex-center
        include ./../game/game.svg