.page.page_login._flex-center.js-page_login
    .card
        h3.card__title Введите свое имя
        form(name="login").form.form_login._flex-column.js-form_login
            input(type="text", name="name", required, autofocus).form__input
            button(type="submit").form__button.button Войти